{% extends 'base.html' %}
{% block main %}
<div class="container py-5">
    <div class="row">
        <ul>
        {% for book in books %}
            <li class="col-12 px-2 py-2">
                <a class='test-link' href="{{ book.get_absolute_url }}">
                    <div>
                        <h3>{{ book.title }}</h3>
                        <h3>{{ book.author }}</h3>
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
